/* common style */
.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: none;
    padding: 0 2.3333%;
  }

  .location-container .container {
    margin: 0 2.3333%;
  }  
}

/* col-banner */
.col-banner-container {
  text-align: center;
  clear: both;
}

.col-banner-container .col-banner {
  width: 100%;
}

@media (max-width: 1050px) {
  .col-banner-container .container {
    padding: 0;
  }
}

/* location */
.location-container {
  margin: 22px 0 40px;
}
.location-container .container{
  font-size: 14px;
  color: #8d8d8d;
  line-height: 35px;
  border: 1px #c0c0c0;
  border-style: dashed none dashed none;
  padding-left: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .location-container {
    margin: 11px 0 20px;
  }
}

/* sidebar */

.sidebar-item {
  display: block;
  width: 100%;
  line-height: 2.8125;
}

.sidebar-list .sidebar-item {
  line-height: 3;
}

.sidebar-list {
  font-size: 14px;
}

.sidebar-item {
  padding-left: 40px;
}

.sidebar-title {
  list-style: none;
  background-color: #105731;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.sidebar-title a {
  color: #fff;
}

.sidebar {
  float: left;
  width: 240px;
  box-shadow: 0px 1px 6px 0px 	rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* main-content */
.col-content-container {
  /* 240 + 30 */
  margin-left: 270px;
}
.content-item {
  padding-top: 10px;
  margin-bottom: 36px;
}

.content-item .content-title {
  line-height: 26px;
  margin-bottom: 19px;
}

.content-item .content-title span {
  display: inline;
  padding-top: 40px;
  margin-top: -40px;
}

.content-main {
  line-height: 2;
  font-size: 14px;
  padding: 5px;
  padding-left: 16px;
  overflow: hidden;
}

.content-main .sub-title {
  font-size: 16px;
}

.content-main li {
  list-style: none;
}

.content-main .label {
  font-weight: bold;
}

.content-main .guests-info {
  margin-right: -4.45%;
  font-size: 0;
  width: auto;
}

.content-main .guests-card {
  width: 28.884%;
  max-width: 275px;
  margin-right: 4.45%;
}

@media (max-width: 1300px) {
  .content-main .guests-info {
    margin-right: -4.45%;
  }

  .content-main .guests-card {
    width: 45.55%;
    margin-right: 4.45%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  .content-main .guests-card .guest-identity {
    margin: 22.5px 0;
    margin-right: 32px;
  }

  .content-main .guests-card .guest-img {
    margin: 10px 0;
    margin-left: 20px;
  }

  .content-main {
    padding: 5px;
  }

  .content-main .guests-card .guest-img {
    max-width: 40%;
  }
  .content-main .guests-card .guest-img img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .col-content-container {
    margin-left: auto;
  }

  .content-item {
    margin-bottom: 18px;
  }

  .content-item .content-title {
    margin-bottom: 10px;
  }

  .content-main .guests-card .guest-identity {
    margin-top: 22.5px;
    margin-right: 16px;
  }
}

@media (max-width: 425px) {
  .content-main .guests-card {
    width: 100%;
    margin-right: 0;
  }

  .content-main .guests-info {
    margin-right: 0;
    text-align: center;
  }
}