* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited, a:active {
  color: inherit;
}

a:hover {
  color: #105731;
}

body {
  color: #5b5b5b;
}

.banner {
  vertical-align: middle;
  background-color: #fff;
  text-align: center;
  position: relative;
  font-size: 0;
}

.banner::after {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  box-shadow: 0px 3px 5px 0px	rgba(0, 0, 0, 0.08);
}

.banner .container {
  position: relative;
}

.logo {
  display: inline-block;
  margin: 16px 0;
  font-size: 0;
  overflow: hidden;
}

.logo img{
  max-width: 100%;
}
.logo-sysu {
  display: inline-block;
  width: 165.24px;
  height: 48.2px;
  background-image: url(../images/banner-logo-sysu.png)
}

.menu {
  float: right;
  margin: 30px 0;
  font-size: 0;
}

.menu-item {
  margin-right: 37px;
  width: 64px;
  font-size: 16px;
}

.menu-item:first-child {
  margin-left: 0;
}

.login {
  float: right;
  margin-left: 44px;
  height: 21px;
  font-size: 0;
}

.login-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/login.png);
  vertical-align: middle;
}

.login span {
  font-size: 16px;
  vertical-align: middle;
}

.nav {
  display: none;
}

@media (max-width: 1318px) {
  .menu-item {
    margin-right: 15px;
  }

  .login {
    margin-left: 20px;
  }

  .menu-item:last-child {
    margin: 0;
  }
}

@media (max-width: 980px) {
  .menu {
    margin: 0;
    padding: 15px 0;
  }
  .banner .container {
    text-align: center;
  }

  .logo, .menu {
    float: none;
  }
}

@media (max-width: 1050px) {
  .menu {
    padding: 0;
    margin-top: 16px;
    position: fixed;
    z-index: 999;
    background: #fff;
    margin: 0;
    text-align: center;
    top: 0;
    width: 60%;
    height: 100%;
    right: -60%;
    transition: right cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
  }

  .menu.show {
    right: 0;
  }

  .menu + .mask {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: background-color cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
  }

  .menu.show + .mask {
    opacity: .21;
    z-index: 899;
  }

  .login {
    float: none;
  }

  .login span {
    float: none;
  }

  .menu-item, .login {
    display: block;
    width: 100%;
    margin: 0;
  }

  .menu-item a, .login a{
    display: block;
    line-height: 3;
  }

  .nav-open {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 110%;
    right: calc(100% + 10px);
    z-index: 800;
    opacity: 1;
    transition: opacity 0s .25s;
    background: url(../images/category.png) no-repeat center center;
  }

  .show .nav-open {
    opacity: 0;
    transition-delay: 0s !important;
  }

  .nav-close {
    display: none;
    background: url(../images/close.png) no-repeat ;
    background-position: center right 10px;
    width: 100%;
    height: 3em;
    font-size: 16px;
  }

  .show .nav-close {
    display: block;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .menu {
    width: 75%;
    right: -75%;
  }
}

/* banner end */

/* slider */
.swiper-container .slide-img {
  width: 100%;
  clear: both;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  outline: none;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 8%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: 1;
  transition: width cubic-bezier(0.215, 0.610, 0.355, 1) .25s;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 10px;
  border-radius: 10px;
  background-color: #105731;
}

/* content */
.index-content {
  box-sizing: border-box;
  margin: 50px auto 45px;
  max-width: 1200px;
  height: 314px;
}

.index-news {
  display: block;
  max-height: 100%;
  float: left;
  width: 49.5%;
  overflow: hidden;
}

.content-title {
  padding-left: 10px;
  height: 26px;
  border-left: 6px solid #105731;
  font-size: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content-title span {
  font-size: 18px;
}

.content-title-en {
  color: #b5b5b5;
}

.content-title .more {
  float: right;
  margin-left: 20px;
  padding-top: 2px;
  color: #777;
  font-size: 14px;
}

.news-container {
  margin-top: 30px;
  height: 260px;
  font-size: 0;
  list-style: none;
  overflow: hidden;
}

.news-item {
  height: 36px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-item-date {
  float: right;
  margin-left: 16.49%;
  padding: 2px 0 0;
  font-size: 14px;
  color: #949494;
}

.index-conference {
  float: right;
  max-height: 100%;
  max-width: 47.83333333%;
}

.index-conference-detail {
  margin-top: 30px;
  max-height: 270px;
}

.index-conference-detail p {
  padding-bottom: 4px;
  line-height: 1.75em;
}

@media screen and (max-width: 1300px) {
  .index-content {
    max-width: 980px;
    height: 335px;
  }

  .news-item-date {
    margin-left: 16px;
  }
}

@media screen and (max-width: 980px) {
  .index-content {
    max-width: 768px;
    height: 370px;
  }

  .index-conference-detail, .news-container {
    margin-top: 20px;
  }

  .news-item {
    padding-top: 3px;
  }
}

/* schedule */
.index-schedule {
  width: 100%;
  height: 400px;
  font-size: 0;
  background-color: rgb(52, 87, 69);
  clear: both;
}

.schedule-container {
  margin: 0 auto;
  padding: 35px 0 55px;
  max-width: 1200px;
}

.schedule-title {
  border-color: #fff;
}

.schedule-title span {
  color: #fff;
}

.schedule-timeline {
  margin-top: 55px;
  padding-top: 16.3333333%;
  width: 100%;
  background-image: url(../images/keyDay.png);
  background-size: contain;
}

@media screen and (max-width: 1300px) {
  .schedule-container {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  .index-schedule {
    height: 300px;
  }

  .schedule-container {
    max-width: 768px;
  }

  .schedule-timeline {
    margin-top: 45px;
  }
}

/* guests */
.index-guests {
  margin: 36px auto 0;
  padding-bottom: 73px;
  max-width: 1200px;
  font-size: 0;
  overflow: hidden;
}

.guests-info {
  box-sizing: border-box;
  width: 104%;
  margin-right: -4%;
}

.guests-card {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 30px;
  margin-left: 0.2%;
  margin-right: 3.5361538%;
  width: 264px;
  height: 140px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .11);
  transition: box-shadow .3s ease-in-out;
}

.guests-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .21);
}

.guest-img {
  float: left;
  margin-top: 21px;
  margin-left: 20px;
}

.guest-identity {
  float: right;
  margin-top: 45px;
  margin-right: 32px;
  font-size: 16px;
  text-align: center;
  color: #105731;
}

.guest-name {
  font-weight: bold;
}

.guest-institution {
  padding-top: 10px;
  font-size: 14px;
  color: #8e8e8e;
}

@media screen and (max-width: 1300px) {
  .index-guests {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  .index-guests {
    max-width: 768px;
  }

  .guests-info {
    text-align: center;
  }
}

/* sponsor */
.index-sponsor {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 0;
  overflow: hidden;
}

.sponsor-container {
  box-sizing: border-box;
  width: 107%;
  margin-right: -7%;
  overflow: hidden;
}

.sponsor-item {
  display: inline-block;
  margin: 40px 6.542056% 5px 0;
  width: 237px;
  height: 60px;
}

.sponsor-acknowledgement {
  float: right;
  margin-top: 40px;
  margin-right: 6.542056%;
  padding-left: 12px;
  height: 60px;
  border-left: 6px solid #959595;
  font-size: 16px;
  line-height: 1.5em;
}

.sponsor-acknowledgement p{
  padding-top: 6px;
  clear: both;
  font-weight: bold;
}

.sponsor-acknowledgement div {
  float: right;
}

@media screen and (max-width: 1300px) {
  .index-sponsor {
    max-width: 980px;
  }

  .sponsor-acknowledgement {
    margin-right: 13.084112%;
  }
}

@media screen and (max-width: 980px) {
  .index-sponsor {
    max-width: 768px;
  }

  .sponsor-container {
    padding-left: 15%;
  }

  .sponsor-acknowledgement {
    margin-right: 25%;
  }
}

@media screen and (max-width: 768px) {
  .index-sponsor {
    max-width: 425px;
  }
}

/* footer */
.footer {
  box-sizing: border-box;
  margin-top: 118px;
  width: 100%;
  background-color: #515151;
  border: 1px solid #707070;
}

.footer-main {
  margin: 54px auto 0;
  /* height: 206px; */
  padding-bottom: 28px;
  max-width: 1200px;
  font-size: 0;
}

.footer-logo {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 31.0833333%;
}

.footer-logo::after {
  position: absolute;
  content: "";
  right: 18.230563%;
  top: -19px;
  height: 120px;
  width: 1px;
  background: #fff;
}

.footer-logo-container {
  width: 54.9597855%;
  padding-bottom: 81px;
  background-image: url(../images/footer-logo-sysu.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-link, .footer-contact, .footer-QRcode {
  vertical-align: middle;
  display: inline-block;
  line-height: 2em;
  color: #fff;
  font-size: 14px;
}

.footer-link {
  position: relative;
  width: 23%;
}

.footer-link::after {
  position: absolute;
  content: "";
  right: 24.6376812%;
  top: 24px;
  height: 120px;
  width: 1px;
  background: #fff;
}

.footer-contact {
  width: 37.33333333%;
}

.footer-link-title, .footer-contact-title {
  padding-bottom: 2px;
  font-weight: bold;
}

.footer-QRcode {
  width: 8.583333333%;
  text-align: center;
}
.footer-QRcode-img {
  margin-bottom: 16px;
}

.footer-QRcode-img img {
  width: 100%;
}

.footer-copyright {
  box-sizing: border-box;
  height: 42px;
  width: 100%;
  background-color: #484848;
}

.copyright {
  padding: 0;
  text-align: center;
  line-height: 42px;
  color: #b8b8b8;
  white-space: nowrap;
}

@media screen and (max-width: 1300px) {
  .footer-main {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  .footer-main {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 100px;
  }

  .footer-main {
    max-width: 425px;
    margin-top: 35px;
  }

  .footer-logo, .footer-link {
    display: none;
  }

  .footer-contact {
    width: 83.333333%;
  }

  .footer-QRcode {
    width: 16.666666%;
  }

  .footer-QRcode-img {
    margin-bottom: 0;
  }
  .copyright {
    font-size: 14px;
  }
}