* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

span, p {
  color: #5b5b5b;
}

.banner {
  vertical-align: middle;
  background-color: #fff;
  text-align: center;
}

.banner-container {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 80px;
  max-width: 1200px;
}

.logo {
  margin-top: 16px;
  float: left;
  font-size: 0;
}

.logo-chem {
  display: inline-block;
  width: 130px;
  height: 49px;
  background-image: url(../images/banner-logo-chem.png)
}

.logo-gap {
  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 41px;
  margin-right: 17px;
  margin-bottom: 4px;
  border-right: 1px solid #ececec;
}

.logo-sysu {
  display: inline-block;
  width: 165.24px;
  height: 48.2px;
  background-image: url(../images/banner-logo-sysu.png)
}

.menu {
  display: inline-block;
  margin-top: 30px;
  margin-left: 176px;
  font-size: 0;
}

.menu-item {
  margin-left: 37px;
  width: 64px;
  font-size: 16px;
}

.login {
  float: right;
  margin-top: 30px;
  margin-left: 44px;
  height: 21px;
  font-size: 0;
}

.login-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/login.png);
}

.login span {
  font-size: 16px;
  float: right;
}

/* banner end */

/* slider */

/* slider end */

/* content */
.index-content {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 50px;
  height: 409px;
}

.index-news {
  display: block;
  float: left;
  width: 49.5%;
}

.content-title {
  padding-left: 10px;
  height: 26px;
  border-left: 6px solid #105731;
  font-size: 100%;
}

.content-title span {
  font-size: 18px;
}

.content-title-en {
  color: #b5b5b5;
}

.content-title .more {
  float: right;
  color: #777;
  font-size: 14px;
}

.news-container {
  margin-top: 30px;
  height: 270px;
  font-size: 0;
}

.news-item {
  padding-bottom: 16px;
  font-size: 16px;
}

.news-item-date {
  float: right;
  padding: 2px 0 0;
  font-size: 14px;
  color: #949494;
}

.index-conference {
  float: right;
  max-width: 574px;
}

.index-conference-detail {
  margin-top: 30px;
}

.index-conference-detail p {
  padding-bottom: 16px;
  line-height: 1.5em;
}

