* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

a:hover {
  color: #105731;
}

body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  color: #5b5b5b;
}

.banner {
  vertical-align: middle;
  background-color: #fff;
  text-align: center;
  position: relative;
  font-size: 0;
}

.banner::after {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
}

.banner .container {
  position: relative;
}

.logo {
  display: inline-block;
  margin: 16px 0;
  font-size: 0;
  overflow: hidden;
}

.logo img {
  max-width: 100%;
}

.logo-sysu {
  display: inline-block;
  width: 165.24px;
  height: 48.2px;
  background-image: url(../images/banner-logo-sysu.png)
}

.menu {
  float: right;
  margin: 30px 0;
  font-size: 0;
}

.menu-item {
  margin-right: 37px;
  width: 64px;
  font-size: 16px;
}

.menu-item:first-child {
  margin-left: 0;
}

.login {
  float: right;
  margin-left: 44px;
  height: 21px;
  font-size: 0;
}

.login-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/login.png);
  vertical-align: middle;
}

.login span {
  font-size: 16px;
  vertical-align: middle;
}

.nav {
  display: none;
}

@media (max-width: 1318px) {
  .menu-item {
    margin-right: 15px;
  }

  .login {
    margin-left: 20px;
  }

  .menu-item:last-child {
    margin: 0;
  }
}

@media (max-width: 980px) {
  .menu {
    margin: 0;
    padding: 15px 0;
  }

  .banner .container {
    text-align: center;
  }

  .logo,
  .menu {
    float: none;
  }
}

@media (max-width: 1050px) {
  .menu {
    padding: 0;
    margin-top: 16px;
    position: fixed;
    z-index: 999;
    background: #fff;
    margin: 0;
    text-align: center;
    top: 0;
    width: 60%;
    height: 100%;
    right: -60%;
    transition: right cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
  }

  .menu.show {
    right: 0;
  }

  .menu+.mask {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: background-color cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
  }

  .menu.show+.mask {
    opacity: .21;
    z-index: 899;
  }

  .login {
    float: none;
  }

  .login span {
    float: none;
  }

  .menu-item,
  .login {
    display: block;
    width: 100%;
    margin: 0;
  }

  .menu-item a,
  .login a {
    display: block;
    line-height: 3;
  }

  .nav-open {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 15px;
    right: 110%;
    right: calc(100% + 10px);
    z-index: 800;
    opacity: 1;
    transition: opacity 0s .25s;
    background: url(../images/category.png) no-repeat center center;
  }

  .show .nav-open {
    opacity: 0;
    transition-delay: 0s !important;
  }

  .nav-close {
    display: none;
    background: url(../images/close.png) no-repeat;
    background-position: center right 10px;
    width: 100%;
    height: 3em;
    font-size: 16px;
  }

  .show .nav-close {
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 540px) {
  .logo {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .menu {
    width: 75%;
    right: -75%;
  }
}

/* banner end */

/* slider */
.swiper-container .slide-img {
  width: 100%;
  clear: both;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  outline: none;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 8%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 10px;
  border-radius: 10px;
  background-color: #105731;
}

/* content */
.index-content {
  box-sizing: border-box;
  margin: 50px auto 45px;
  max-width: 1200px;
  /* height: 314px; */
}

.index-news {
  display: block;
  max-height: 100%;
  float: left;
  width: 49.5%;
  overflow: hidden;
}

.content-title {
  padding-left: 10px;
  height: 26px;
  border-left: 6px solid #105731;
  font-size: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content-title span {
  font-size: 18px;
}

.content-title-en {
  color: #b5b5b5;
}

.content-title-info {
  font-size: 14px;
}

.content-title .more {
  float: right;
  margin-left: 20px;
  padding-top: 2px;
  color: #777;
  font-size: 14px;
}

.news-container {
  margin-top: 30px;
  /* height: 260px; */
  font-size: 0;
  list-style: none;
  overflow: hidden;
}

.news-item {
  height: 36px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-item-decor {
  float: left;
  margin-right: 6px;
}

.news-item-date {
  float: right;
  margin-left: 16.49%;
  padding: 2px 0 0;
  font-size: 14px;
  color: #949494;
}

.news-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index-conference {
  float: right;
  max-height: 100%;
  max-width: 47.83333333%;
}

.index-conference-detail {
  margin-top: 30px;
  /* max-height: 270px; */
}

.index-conference-detail p {
  padding-bottom: 4px;
  line-height: 1.75em;
}

.index-content::after {
  content: '';
  display: block;
  clear: both;
}

.index-conference::after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 1300px) {
  .index-content {
    max-width: 980px;
    /* height: 335px; */
  }

  .news-item-date {
    margin-left: 16px;
  }
}

@media screen and (max-width: 980px) {
  .index-content {
    max-width: 768px;
    /* height: 370px; */
  }

  .index-conference-detail,
  .news-container {
    margin-top: 20px;
  }

  .news-item {
    padding-top: 3px;
  }
}

@media screen and (max-width: 768px) {
  .index-content {
    max-width: 555px;
    /* height: 650px; */
  }

  .index-news {
    float: none;
    width: 100%;
  }

  .index-conference {
    float: none;
    margin-top: 40px;
    max-width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .index-content {
    max-width: 375px;
    /* height: 690px; */
  }

  .index-conference-detail,
  .news-container {
    margin-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  .index-content {
    max-width: 340px;
  }
}

@media screen and (max-width: 340px) {
  .index-content {
    max-width: 300px;
    /* height: 750px; */
  }
}

/* schedule */
.index-schedule {
  width: 100%;
  height: 400px;
  font-size: 0;
  background-color: rgb(52, 87, 69);
  clear: both;
}

.schedule-container {
  margin: 0 auto;
  padding: 35px 0 55px;
  max-width: 1200px;
}

.schedule-title {
  border-color: #fff;
}

.schedule-title span {
  color: #fff;
}

.schedule-timeline {
  margin-top: 55px;
  padding-top: 16.3333333%;
  width: 100%;
  background-image: url(../images/keyDay.png);
  background-size: contain;
}

@media screen and (max-width: 1300px) {
  .schedule-container {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  .index-schedule {
    height: 300px;
  }

  .schedule-container {
    max-width: 768px;
  }

  .schedule-timeline {
    margin-top: 45px;
  }
}

@media screen and (max-width: 768px) {
  .schedule-container {
    max-width: 555px;
  }
}

@media screen and (max-width: 560px) {
  .schedule-container {
    max-width: 375px;
  }

  .schedule-timeline {
    margin: 20px auto 0;
    padding-top: 200px;
    max-width: 200px;
    background: url(../images/timeline_mobile.png) no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 400px) {
  .schedule-container {
    max-width: 340px;
  }
}

@media screen and (max-width: 340px) {
  .schedule-container {
    max-width: 300px;
  }
}

/* guests */
.index-guests {
  margin: 36px auto 0;
  padding-bottom: 73px;
  max-width: 1200px;
  font-size: 0;
  overflow: hidden;
}

.guests-info {
  box-sizing: border-box;
  width: 104%;
  margin-right: -4%;
}

.guests-card {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 30px;
  margin-left: 0.2%;
  margin-right: 3.5361538%;
  padding-top: 20px;
  width: 264px;
  height: 140px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .11);
  transition: box-shadow .3s ease-in-out;
}

.guests-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .21);
}

.guest-img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.guest-identity {
  display: inline-block;
  margin-left: 12px;
  width: 122px;
  vertical-align: middle;
  font-size: 16px;
  text-align: center;
  color: #105731;
}

.guest-name {
  font-weight: bold;
}

.guest-institution {
  padding-top: 10px;
  font-size: 14px;
  color: #8e8e8e;
}

#introduction-schedule {
  text-align: center;
  border-collapse: collapse;
  font-size: 16px;
}

#introduction-schedule>thead {
  background-color: #000;
  color: #fff;
}

#introduction-schedule>tbody>tr:nth-child(odd) {
  background-color: #d4d3d3;
}

#introduction-schedule>tbody td,
#introduction-schedule>thead th {
  padding: 0 16px;
  border: 1px solid #000;
}

@media screen and (max-width: 1300px) {
  .index-guests {
    max-width: 980px;
  }

  .guests-card {
    margin-right: 56px;
  }
}

@media screen and (max-width: 980px) {
  .index-guests {
    max-width: 768px;
  }

  .guests-info {
    text-align: center;
    padding-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .index-guests {
    max-width: 555px;
  }
}

@media screen and (max-width: 560px) {
  .index-guests {
    max-width: 375px;
  }
}

@media screen and (max-width: 400px) {
  .index-guests {
    max-width: 340px;
  }
}

@media screen and (max-width: 340px) {
  .index-guests {
    max-width: 300px;
  }

  .guests-info {
    padding-left: 20px;
  }
}

/* sponsor */
.index-sponsor {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 0;
  overflow: hidden;
}

.sponsor-container {
  box-sizing: border-box;
  width: 107%;
  margin-right: -7%;
  overflow: hidden;
}

.sponsor-item {
  display: inline-block;
  margin: 40px 6.542056% 5px 0;
  width: 237px;
  height: 60px;
}

.sponsor-acknowledgement {
  float: right;
  margin-top: 40px;
  margin-right: 6.542056%;
  padding-left: 12px;
  height: 40px;
  border-left: 6px solid #959595;
  font-size: 16px;
  line-height: 1.5em;
}

.sponsor-acknowledgement p {
  padding-top: 6px;
  clear: both;
  font-weight: bold;
}

.contact-tel,
.contact-mail {
  padding-left: 25px;
}

.sponsor-acknowledgement a:hover {
  color: inherit;
}

@media screen and (max-width: 1300px) {
  .index-sponsor {
    max-width: 980px;
  }

  .sponsor-acknowledgement {
    margin-right: 13.084112%;
  }

  .sponsor-item {
    margin-right: 100px;
  }
}

@media screen and (max-width: 980px) {
  .index-sponsor {
    max-width: 768px;
  }

  .sponsor-container {
    padding-left: 14%;
  }

  .sponsor-acknowledgement {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .index-sponsor {
    max-width: 555px;
  }

  .sponsor-container {
    padding-left: 150px;
  }

  .sponsor-acknowledgement {
    margin-left: -130px;
  }
}

@media screen and (max-width: 560px) {
  .index-sponsor {
    max-width: 375px;
  }

  .sponsor-container {
    padding-left: 65px;
  }

  .sponsor-acknowledgement {
    margin-left: -10px;
    height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .index-sponsor {
    max-width: 340px;
  }

  .sponsor-container {
    padding-left: 55px;
  }

  .sponsor-acknowledgement {
    margin-top: 30px;
  }
}

@media screen and (max-width: 340px) {
  .index-sponsor {
    max-width: 300px;
  }

  .sponsor-container {
    padding-left: 18px;
  }

  .sponsor-acknowledgement {
    margin-left: 0;
  }
}

/* footer */
.footer {
  box-sizing: border-box;
  margin-top: 117px;
  width: 100%;
  background-color: #515151;
  border: 1px solid #707070;
}

.footer-main {
  margin: 54px auto 0;
  padding-bottom: 28px;
  max-width: 1200px;
  font-size: 0;
}

.footer-logo {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 31.0833333%;
}

.footer-logo::after {
  position: absolute;
  content: "";
  right: 18.230563%;
  top: -19px;
  height: 120px;
  width: 1px;
  background: #fff;
}

.footer-logo-container {
  width: 54.9597855%;
  padding-bottom: 81px;
  background-image: url(../images/footer-logo-sysu.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-link,
.footer-contact,
.footer-QRcode {
  vertical-align: middle;
  display: inline-block;
  line-height: 2em;
  color: #fff;
  font-size: 14px;
}

.footer-link {
  position: relative;
  width: 23%;
}

.footer-link a:hover {
  color: inherit;
}

.footer-link::after {
  position: absolute;
  content: "";
  right: 24.6376812%;
  top: 24px;
  height: 120px;
  width: 1px;
  background: #fff;
}

.footer-contact {
  width: 37.33333333%;
}

.footer-link-title,
.footer-contact-title {
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 16px;
}

.footer-link-content {
  font-size: 14px;
}

.footer-link-content a:hover {
  color: inherit;
}

.footer-QRcode {
  width: 8.583333333%;
  text-align: center;
  white-space: nowrap;
}

.footer-QRcode-img {
  margin-bottom: 16px;
}

.footer-QRcode-img img {
  width: 100%;
}

.footer-copyright {
  box-sizing: border-box;
  height: 42px;
  width: 100%;
  background-color: #484848;
}

.copyright {
  padding: 0;
  text-align: center;
  line-height: 42px;
  color: #b8b8b8;
  white-space: nowrap;
}

@media screen and (max-width: 1300px) {
  .footer {
    margin-top: 100px;
  }

  .footer-main {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  .footer-main {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 60px;
  }

  .footer-main {
    max-width: 555px;
    margin-top: 35px;
  }

  .footer-logo,
  .footer-link {
    display: none;
  }

  .footer-contact {
    width: 83.333333%;
  }

  .footer-QRcode {
    width: 16.666666%;
  }

  .footer-QRcode-img {
    margin-bottom: 0;
  }

  .footer-copyright {
    height: 35px;
    font-size: 14px;
  }

  .copyright {
    line-height: 35px;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    margin-top: 80px;
  }

  .footer-main {
    max-width: 375px;
  }

  .footer-contact {
    width: 78.3333333%;
  }

  .footer-QRcode {
    width: 21.666666%;
  }

  .footer-copyright {
    height: 24px;
  }

  .copyright {
    line-height: 24px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    margin-top: 50px;
  }

  .footer-main {
    max-width: 340px;
  }
}

@media screen and (max-width: 340px) {
  .footer-main {
    max-width: 300px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}

/* common style */
.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: none;
    padding: 0 2.3333%;
  }

  .location-container .container {
    margin: 0 2.3333%;
  }
}

/* col-banner */
.col-banner-container {
  text-align: center;
  clear: both;
}

.col-banner-container .col-banner {
  width: 100%;
}

@media (max-width: 1050px) {
  .col-banner-container .container {
    padding: 0;
  }
}

/* location */
.location-container {
  margin: 22px 0 40px;
}

.location-container .container {
  font-size: 14px;
  color: #8d8d8d;
  line-height: 35px;
  border: 1px #c0c0c0;
  border-style: dashed none dashed none;
  padding-left: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .location-container {
    margin: 11px 0 20px;
  }
}

/* sidebar */

.sidebar-item {
  display: block;
  width: 100%;
  line-height: 2.8125;
  box-sizing: border-box;
}

.sidebar-list .sidebar-item {
  line-height: 3;
}

.sidebar-list {
  font-size: 14px;
}

.sidebar-item {
  padding-left: 40px;
}

.sidebar-title {
  list-style: none;
  background-color: #105731;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.sidebar-title a {
  color: #fff;
}

.sidebar {
  float: left;
  width: 240px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* main-content */
.col-content-container {
  /* 240 + 30 */
  margin-left: 270px;
}

.content-item {
  padding-top: 10px;
  margin-bottom: 36px;
}

.content-item:last-child {
  margin-bottom: 0;
}

.content-item .content-title {
  line-height: 26px;
  margin-bottom: 19px;
}

.content-item .content-title span {
  display: inline;
  padding-top: 40px;
  margin-top: -40px;
  color: #575757;
}

.content-main {
  line-height: 2;
  font-size: 14px;
  padding: 5px;
  padding-left: 16px;
  overflow: hidden;
}

.content-main .sub-title {
  font-size: 16px;
}

.content-main li {
  list-style: none;
}

.content-main .label {
  font-weight: bold;
}

.content-main .guests-info {
  margin-right: -4.45%;
  font-size: 0;
  width: auto;
  padding: 0;
}
.content-main .guests-info .guest-img {
  float: left;
  vertical-align: top;
}
.content-main .guests-card {
  width: 28.884%;
  max-width: 275px;
  margin-right: 4.45%;
  margin-left: 0;
  vertical-align: top;
}

.content-main .guests-card .guest-identity {
  float: none;
  margin: auto 0;
  line-height: 1.25;
  vertical-align: top;
}

.content-main .guests-card .guest-institution {
  line-height: 1.5;
}

@media (max-width: 1300px) {
  .content-main .guests-info {
    margin-right: -4.45%;
  }

  .content-main .guests-card {
    width: 45.55%;
    margin-right: 4.45%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }

  .content-main .guests-card .guest-identity {
    /* margin: 22.5px 0; */
    max-width: 50%;
    white-space: normal;
    margin-left: 0;
    right: 0;
    margin-right: 32px;
  }

  .content-main .guests-card .guest-img {
    margin: 10px 0;
    margin-left: 20px;
  }

  .content-main {
    padding: 5px;
  }

  .content-main .guests-card .guest-img {
    max-width: 40%;
  }

  .content-main .guests-card .guest-img img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .col-content-container {
    margin-left: auto;
  }

  .content-item {
    margin-bottom: 18px;
  }

  .content-item .content-title {
    margin-bottom: 10px;
  }

  .content-main .guests-card .guest-identity {
    /* margin-top: 22.5px; */
    margin-right: 16px;
  }
}

@media (max-width: 425px) {
  .content-main .guests-card {
    width: 100%;
    margin-right: 0;
  }

  .content-main .guests-info {
    margin-right: 0;
    text-align: center;
  }
}


/* news */

.content-main .news-container {
  margin-top: 0;
  height: auto;
  overflow: auto;
}

.content-main .news-container .news-item-date {
  margin-left: 1em;
}

/* abstract */

.abstract-template {
  display: block;
  color: #105731;
}

#content-hotel {
  margin-bottom: 16px;
  max-width: 100%;
}

#hotel-changlong {
  margin: 20px 0 50px;
}

#hotel-changlongPanda,
.map {
  margin-top: 20px;
}

@media (max-width: 1050px) {
  #hotel-changlong {
    width: 100%;
    height: auto;
  }

  #hotel-changlongPanda,
  .map {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  #hotel-changlong {
    margin: 10px 0 25px;
  }

  #hotel-changlongPanda,
  .map {
    margin-top: 10px;
  }
}



@media (max-width: 425px) {
  .hotel-site {
    text-align: center;
  }

  .hotel-site a {
    display: block;
  }
}

/* register */
.fair-info {
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  color: #414141;
}

.fair-info-container {
  width: 100%;
  overflow: auto;
}

.fair-info td,
.fair-info th {
  text-align: center;
  line-height: 40px;
}

.fair-info tr {
  border: #bfbfbf 1px solid
}

.fair-info thead tr {
  background: #105731;
  color: #fff;
}

.register-button-container,
.upload-btn-container {
  text-align: center;
}

.price-before {
  color: #a1a1a1;
  font-size: 14px;
}

.price {
  color: #414141;
  font-weight: bold;
}

.tips {
  display: block;
  color: #ff0a0a;
  margin-top: 16px;
  line-height: 1;
}

.register-button,
.upload-btn {
  display: inline-block;
  line-height: 1;
  margin-top: .5em;
  border: none;
  background: none;
  outline: none;
  padding: 10px 36px;
  color: #105731;
  border: #105731 1px solid;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color cubic-bezier(0.215, 0.610, 0.355, 1) .3s, color cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
}

.register-button:hover,
.upload-btn:hover {
  background: #105731;
  color: #fff;
}

.fair-detail li {
  text-indent: 2em;
}

.fair-detail .label {
  display: block;
  text-indent: 1em;
}

.hotel-site img {
  margin: 0 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.guide {
  color: #105731;
  margin-top: 1em;
}

.hotel-chimelong {
  cursor: pointer;
  color: #105731;
}

.footer a:hover {
  color: inherit;
}

.article-info {
  font-size: 14px;
  color: #979797;
  line-height: 1;
}

.article-title {
  font-size: 16px;
  color: #575757;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
}

.content-item header {
  margin-bottom: 18px;
  padding-left: 2em;
}

.content-item header+.content-main {
  padding-left: 0;
}

.MsoNormal {
  margin: 22px 0;
}

.MsoNormal img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .content-item header {
    padding-left: 0;
  }
}

.no-wrap {
  white-space: nowrap;
}